<li class="onecountryName">{{name}}</li>
<li class = "flag"><img src="{{flag}}" alt="{{name}}" class="card__image" /></li>
    <li class ="capital">Capital: {{capital}}</li>
    <li class ="population">Population: {{population}}</li>
    <ul class = "languages_list"><h2>Languages:</h2>{{#each languages}}<li class="languages__name"> {{this.name}}</li>{{/each}}</ul>



